@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}



.main-banner{
    
    background-image: url("./assets/Hero-bg.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width:1440px ;
  
    height: 800;
    margin: 50px auto;
    filter: saturate(110%);
        box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.28);
        background-color: rgba(0, 0, 0, 0.139);
        background-blend-mode: overlay;


}

/* This is hero-contant */

.hero-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mar
}

.group-image{
    width: 240px;
    height: 240px;
    display:flex;
    margin-left: 630px;
    
}

.hero-font{
 font-family: "Azeret Mono", monospace;
 font-size: 34px;
 font-weight: 800;
 margin-top: 50px;
 background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(38, 86, 219));
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text ;
 filter: saturate(110%);

}

.paragraph{
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
    font-size: 17px;
    color: rgb(13, 19, 33);
    opacity: 80%;
    margin-top: 26px;
}

.response{
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);;
    color: #fff;
    margin-top: 20px;
    font-family: "Azeret Mono", monospace;
    font-size: 15px;
    font-weight: 550;
    border: none;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.response:hover{
    background: linear-gradient(45deg, blue,green);
    transform: scale(1.1) translateZ(5px);
}

.web-info{
    width: 1140px;
    height: 1395px;
    /* border: 2px solid red; */
    margin: 170px auto;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.256);
    border-radius: 15px;
}

.web-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.large{
    font-family: "Azeret Mono", monospace;
    line-height: 37px;
    font-weight: 800;
    font-size: 32px;
    opacity: 140%;
    background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(38, 86, 219));
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text ;

}
.para{
    line-height: 26px;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 74%;
    margin-top: 18px;
    text-align: center;

}

.web-discription{
    margin-left:60px ;
    margin-top: 130px;

}
.big{
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
    opacity: 200%;

    
}
.passage{
    font-size: 16px;
    font-weight: 400;
    font-family: "Azeret Mono", monospace;
    opacity: 0.7;

    
}

.lern-more{
    padding: 12px 25px;
  
    border-radius:2px ;
    border: none;
    color: black;
    border: 2px solid black;
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    margin-top: 20px;
    font-weight: 500;
  ;

    


}

.flex-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 140px;
    margin-top: 90px;
}

.bold{
    width: 390PX;
    height: 72px;
    font-family: "Azeret Mono", monospace;
    font-size: 25px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 10px;
    opacity: 0.7;


}

.flex-contant{
    margin-left: 70px;
}

.des{
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    font-family: "Azeret Mono", monospace;
    margin-top: 26px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:38px ;
}

.one{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    font-family: "Azeret Mono", monospace;
    background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(38, 86, 219));
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text ;
}

.two{
    font-family: "Azeret Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    opacity: 70%;
    margin-top: 20px;
    line-height: 27px;


}

.three{
    font-family: "Azeret Mono", monospace;
    padding: 13px 30px;
   
    border: 2px solid rgb(86, 42, 26);
    margin-top: 17px;
  

}

.pick1{
    width: 300px;
    height: 240px;
}

.flex2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 90px;
    margin-top: 70px;
    width: 100%;

}
.primary{
    width: 300px;
    height: 300px;

}

.seven{
    font-family: "Azeret Mono", monospace;
    font-size:24px ;
    font-weight: 700;
    line-height: 36px;
    opacity: 150%;
    background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(38, 86, 219));
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text ;



}
.eight{
    font-family: "Azeret Mono", monospace;
    font-size: 15px;
    opacity: 65%;
    margin-top: 15px;
    font-weight: 300;



}

.nine{
    padding: 12px 31px;
    border: 2px solid black;
    margin-top: 19px;
    font-size: 18px;


}

.part1{
    font-family: "Azeret Mono", monospace;

font-size: 24;
font-weight: 700;

line-height: 25px;
}

.flex3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 56px auto;


}
.part2{
   
    font-size: 16px;
    margin-top: 22px;
    font-family: "Azeret Mono", monospace;
    font-weight: 200;
    opacity: 70%;

}
.part3{
    padding: 15px 38px;
    color: black;
    font-family: "Azeret Mono", monospace;
    font-weight: 600;
    margin-top: 24px;

}
.image5{
    width: 400px;
    height: 350px;
    margin-right: 20px;
}
.inspiration{
    width: 853px;
    height: 115px;
    /* border: 2px solid red; */
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.industy{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
font-size: 32px;
font-weight: 800;
line-height: 37px;
background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(38, 86, 219));
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text ;
       
}
.inspir{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 15px;
opacity: 60%;
}


.iframe{
    height: 600px;
    width: 63%;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px 4px rgba(255, 44, 100, 0.421), 0px 0px 9px 4px rgba(255, 127, 80, 0.415), 0px 0px 15px 4px rgba(255, 96, 11, 0.444),
    0px 0px 20px 4px rgba(11, 105, 255, 0.437), 0px 0px 23px 10px rgba(242, 0, 255, 0.46);
    margin: 130px auto;
    height: 500px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px ;
background-color: rgba(103, 79, 48, 0.224);
}

.media{
 width: 800px;
 height: 360px;
 
}

.my-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:70px ;
}
.tecno{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
font-size: 32px;
font-weight: 800;
line-height: 37px;
margin-top: 14px;
}
.skill-des{

    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 14px;
}

.card-container{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 25px;
}
.card-container{
    width: 1140px;
    height: 350px;
    /* border: 2px solid red; */
    
    margin: 50px auto;
}
.html{
    width: 352px;
    height: 300px;
    border-radius: 14px;
    background-color: rgba(255, 76, 30, 0.05);
}
.html1{

    margin-left: 140px;
    margin-top: 30px;
    width: 100px;
    height: 90px;
    
}
.html-zero{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-left: 20px;
        

}
.html2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
margin-left: 24px;
margin-top: 7px;
opacity: 50%;
}

.html5{
    font-family: "Azeret Mono", monospace;
    padding: 7px 17px;
    margin-top: 9px;
    margin-left: 14px;
    font-weight: 500;
    background: linear-gradient(45deg, rgb(225, 0, 255),rgb(79, 23, 209));
    border: none;
    border-radius: 5px;
    color: #fff;

}
.css{
    width: 352px;
    height: 300px;
    background: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}
.css1{
    
    margin-left: 140px;
    margin-top: 30px;
    width: 100px;
    height: 90px;
}
.css-zero{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 20px;
    
    
}
.css2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-left: 24px;
    margin-top: 7px;
    opacity: 50%;
}
.css3{
    font-family: "Azeret Mono", monospace;
    padding: 7px 17px;
    margin-top: 9px;
    margin-left: 14px;
    font-weight: 500;
    background: linear-gradient(45deg, rgb(225, 0, 255),rgb(79, 23, 209));
    border: none;
    border-radius: 5px;
    color: #fff;
}
.js{
    width: 352px;
    height: 300px;
    background: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
}

.vanila{
    margin-left: 140px;
    margin-top: 30px;
    width: 90px;
    height: 80px;


}
.js1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
.js2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-left: 24px;
    margin-top: 7px;
    opacity: 50%;
}
.js5{
    font-family: "Azeret Mono", monospace;
    padding: 7px 17px;
    margin-top: 12px;
    margin-left: 14px;
    font-weight: 500;
    background: linear-gradient(45deg, rgb(225, 0, 255),rgb(79, 23, 209));
    border: none;
    border-radius: 5px;
    color: #fff;
}

.my-next{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(38, 86, 219));
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text ;


}
.next2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 70%;

}
.tecno{
    background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(38, 86, 219));
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text ;

}

/* technology-group */

.technology-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    height: 216px;
    margin: 90px auto;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.338);
    border-radius: 20px;

    margin-top: px;
}
.react-contant{
    margin-right: 1px;
    margin-left: 45px;

}

.rec1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(6, 72, 255));
-webkit-text-fill-color: transparent;
-webkit-background-clip: text ;

}
.rec2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}
.react-photo{
    width: 140px;
    height: 140px;
    margin-left: 10px;
}

.touch1{
    padding: 7px 20px ;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-family: Azeret Mono;
    background: linear-gradient(45deg, rgb(255, 4, 213), rgb(120, 82, 255));
    margin-top: 9px;

}

.node-section{
    width: 65%;
    height: 216px;
    /* border: 2px solid red; */
    margin: 21px auto;
    margin-bottom: 50px;
    display: flex;
    justify-items: start;
    align-items: center;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.314);
    border-radius: 10px;
    
}
.node1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(13, 49, 148));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text ;
    
}
.node-contant{
    margin-left: 34px;
}
.node2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}
.pop{
    padding: 7px 20px ;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-family: Azeret Mono;
    background: linear-gradient(45deg, rgb(255, 4, 213), rgb(120, 82, 255));
    margin-top: 9px;

}
.mongodb-section{
    width: 65%;
    border-radius:15px ;
    height: 216px;
    margin: 15px auto;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: start;
    align-items: center;
}
.mon1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(13, 49, 148));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text ;
    

}
.mon2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    
}
.mon3{
    padding: 7px 20px ;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-family: Azeret Mono;
    background: linear-gradient(45deg, rgb(255, 4, 213), rgb(120, 82, 255));
    margin-top: 9px;
}
.mongo-contant{
    margin-left: 45px;
}
.mongo{
    width: 150px;
    height: 160px;
}

.form-contant{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 50px;}
.info1{
    margin: 24px auto;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    background: linear-gradient(to right, rgba(255, 0, 212, 0.73),rgb(13, 49, 148));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text ;
    
}
.feedback{
    width: 80%;
    height: 430px;
    /* border: 2px solid red; */
    margin: 150px auto;
  ;

}
.bnr{
    width: 1200px;
    height: 314px;

}

.feedback{
    background-image:url("./assets/handshake.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    
    background-blend-mode: darken;
    border-radius: 16px;

background-color: rgba(67, 31, 31, 0.669) ;
  
   
}

.feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fd1{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;

}
.fd2{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
margin-top: 10px;
margin-top: 10px;
}

.src{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
padding: 13px 29px;
border: none;
font-family: Azeret Mono;
margin-top: 14px;
font-size: 11px;

}
.click10{
    border-radius: 8px;

background: linear-gradient(45deg, rgb(255, 1, 238),rgb(109, 64, 242));
padding: 13px 34px;
margin-top: 19px;
gap: 20px;
border: none;
color: #fff;
font-family: Azeret Mono;
font-weight: 500;
}
.rest{
    border-radius: 8px;

    background: linear-gradient(45deg, rgb(255, 1, 238),rgb(109, 64, 242));
    padding: 13px 34px;
    margin-top: 19px;
    gap: 20px;
    border: none;
    color: #fff;
    font-family: Azeret Mono;
    font-weight: 500;

}

.myname{
    width: 85%;
    height: 110px;
    /* border: 2px solid red; */
    margin: 120px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;



}
.font20{
    margin-right: 500px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;

}
